<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.UserMapper">
    <insert id="reg">
        insert into userinfo(username, password, email) values(#{username}, #{password}, #{email})
    </insert>
    <select id="login" resultType="com.example.demo.entity.Userinfo">
        select id,password from userinfo where username = #{username}
    </select>

    <update id="modifyPassword">
        update userinfo set password=#{newPassword} where id=#{id}
    </update>

    <select id="getUserByUsername" resultType="com.example.demo.entity.Userinfo">
        select username,email from userinfo where username=#{username}
    </select>

    <update id="updatePassword">
        update userinfo set password=#{password} where username=#{username}
    </update>


</mapper>