<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatroom.mapper.FriendMapper">
    <!--  根据userId查找friend表得到好友friendId，然后查找user表得到好友信息  -->
    <select id="selectFriendList" resultType="com.example.chatroom.entity.Friend">
        select userId as friendId,username as friendName,img as userImg from user
        where userId in
        (select friendId from friend where userId=#{userId})
    </select>

    <select id="searchFriendList" resultType="com.example.chatroom.entity.Friend">
        select username as friendName,userId as friendId, img as userImg from user
        where username like concat('%', #{username}, '%')
    </select>

    <select id="selectFriendNameByUserId" resultType="java.lang.String">
        select username from user where userId = #{userId}
    </select>

    <!-- fromId添加userId消息为input   -->
    <insert id="addAddFriend">
        insert into add_friend values(#{fromId}, #{userId}, #{input}, now())
    </insert>

    <!--  查找当前用户都有哪些用户添加他了，当前用户就是被加用户  -->
    <select id="getAddFriendList" resultType="com.example.chatroom.entity.vo.AddFriendResponseVO">
        select fromId as userId, username, `input`,user.img from add_friend,user
        where user.userId = add_friend.fromId
        and add_friend.userId=#{userId}
        order by postTime desc

    </select>
    <select id="selectFriendByUserId" resultType="com.example.chatroom.entity.User">
        select username, img from user where userId = #{userId}
    </select>

    <delete id="deleteAddFriend">
        delete from add_friend where fromId=#{fromId} and userId=#{userId}
    </delete>

    <!--  好友申请后，用户互为对方好友  -->
    <insert id="addFriend">
        insert into friend values (#{friendId}, #{userId}),(#{userId}, #{friendId})
    </insert>




</mapper>