<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatroom.mapper.FriendMapper">
    <!--  根据userId查找friend表得到好友friendId，然后查找user表得到好友信息  -->
    <select id="selectFriendList" resultType="com.example.chatroom.entity.Friend">
        select userId as friendId,username as friendName from user
        where userId in
        (select friendId from friend where userId=#{userId})
    </select>




</mapper>