<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.chatroom.mapper.MessageMapper">

    <select id="getLastMessageBySessionId" resultType="java.lang.String">
        select content from message
        where sessionId=#{sessionId}
        order by postTime desc
        limit 1
    </select>

    <select id="getMessagesBySessionId" resultType="com.example.chatroom.entity.Message">
        select messageId,fromId,username as fromName,sessionId,content from message,user
        where user.userId = message.fromId and sessionId = #{sessionId}
        order by postTime desc
        limit 100
    </select>

    <insert id="addMessage">
        insert into message values (null, #{fromId}, #{sessionId}, #{content}, now());
    </insert>


</mapper>