.dropdown {
    display: inline-block; /* 将下拉菜单设置为行内块级元素 */
    position: relative;
}

.dropdown-content {
    display: none; /* 将下拉菜单的内容设置为隐藏 */
    position: absolute;
    left: 30px;
    background-color: #f1f1f1;
    opacity: 0.5;
    border-radius: 10%;
}

.dropdown:hover > .dropdown-content { /* 当鼠标悬停在下拉菜单上时，显示下拉菜单的内容 */
    display: block;   
    width: 85px;
    height: auto;
}

.dropdown:hover > .dropdown-content li{
    list-style-type: none;
    
}


.dropdown-content a {
    color: black; /* 设置链接的颜色为黑色 */
    text-decoration: none; /* 去掉链接的下划线 */
    font-size: 16px; /* 设置字体大小为16像素 */
    padding: 10px; /* 为链接添加内边距 */
    border: none; /* 去掉链接的边框 */
}

.dropdown-content a:hover { /* 当鼠标悬停在链接上时，改变链接的颜色 */
    background-color: beige;
}